body{

}

.singal{
    width:30%;
    height:400px;
    margin:2% 1.5%;
    display: inline-block;

    /*test code */
    /* background-color: red; */
}

.singal .word{
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

.singal .img{
    height: 75%;
    width: 100%;
}


.singal .img img{
    width:100%;
}

